.post-container {
  margin-top: 20px;
  border: 1px solid var(--darkBorder);
  background-color: white;
  padding-top: 10px;
  max-width: 600px;
}

.post-message {
  border-top: 1px solid var(--lightBorder);
  border-bottom: 1px solid var(--lightBorder);
  padding: 10px;
}
